@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Kusanagi';
  src: url('fonts/Kusanagi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body { font-family: 'Inter', sans-serif; }
h1, h2, h3, h4 { font-family: Kusanagi; }


